{
  "docs": [
    {
      "_id": "_design/pages",

      "lib": <%= map 'lib' %>,
      "models": <%= map 'models' %>,
      "templates": <%= map 'templates' %>,

      "views": <%= map 'views' %>,
      "lists": <%= map 'lists' %>,
      "shows": <%= map 'shows' %>,

      "rewrites": <%= read 'rewrites.json' %>,
      
      "_attachments": {
        "app.js": <%= attachment 'attachments/*.js', 'application/json' %>
      }
    },
    {
      "_id": "mypage",
      "title": "This is my Page",
      "body": "<p>And you are my visitor.</p>",
      "date": "2012-08-14T08:56:37.254Z"
    }
  ]
}
